h1{
    background-color: rgba(255, 255, 255, 0.226);
}
#b1{
position: relative;
margin-left: 59%;
height: 60px;
width: 160px;
}
#b2{
    position: relative;
    margin-right: auto; 
    height: 60px;
width: 160px;
}
#b3{
    position: relative;
    margin-right: auto;
    height: 60px;
    width: 160px;
}
#b4{
    position: relative;
margin-right: auto;
height: 60px;
width: 160px;
}
h2{
position: relative;
margin-left: 40%;
font-size: 300%;


}
#AboutMe{
    position: relative;
    margin-left: 20%;
    font-size: 150%;
}
#Work{
    position: relative;
    margin-left: 20%;
    font-size: 150%;
}
#ContactMe{
    position: relative;
    margin-left: 20%;
    font-size: 150%;
}
#Resume{
    position: relative;
    margin-left: 20%;
    font-size: 150%;
}
body{
    background-color: rgb(140, 163, 163);
}
img{
height: 400px;
width: 400px;
position: relative;
margin-left: 40%;
}
#Resume{
background-color: blue;
position: relative;
margin-left: 25%;
height: 300px;
width: 800px;
font-size: 800%;
font-family: cursive;
}